// Variables
$primary-color: #553DDD;
$second-color: #EFEEFE;
$third-color: #161439;
$fourth-color: #6D6C80;
$fifth-color: #ACAACC;
$gradient: linear-gradient(to right, $primary-color, $second-color);
